<div id="<%= dom_id mainuser %>">
  <p>
    <strong>Name:</strong>
    <%= mainuser.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mainuser.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= mainuser.password %>
  </p>

  <p>
    <strong>Mainuser type:</strong>
    <%= mainuser.mainuser_type %>
  </p>

</div>
