<div id="<%= dom_id bug %>">
  <p>
    <strong>Title:</strong>
    <%= bug.title %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= bug.deadline %>
  </p>

  <p>
    <strong>Screenshot:</strong>
    <%= bug.screenshot %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= bug.type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bug.status %>
  </p>

</div>
